@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.detailContainer {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin: 1rem auto 2rem auto;
    padding: 0 5%;
}

.detailContainer h2{
    font-family: 'Cinzel', serif;
    text-align: center;
}

.detailContainer p{
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 20px;
}

.detailContainer h3{
    font-family: 'Cinzel', serif;
    text-align: center;
}

.detailContainer h4{
    font-family: 'Cinzel', serif;
    text-align: center;
    color: blue;
}

.detailImage{
    margin: 0 auto;
    max-width: 100%;
}