@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.formTitle{
    color: whitesmoke;
}

.success{
    color: whitesmoke;
}

.formContainer {
    font-family: 'Cinzel', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    margin: 1rem auto;
    background-color: #621E7F;
    border: 1px solid #32425B;
    border-radius: 5px;
    padding: 25px;
}

.divContainer{
    font-family: 'Cinzel', serif;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.button{
    font-family: 'Cinzel', serif;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 1rem auto;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

span{
    color: #980900;
    font-weight: bold;
}

input{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    max-width: 100%;
}