@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


.cardsContainer{
    max-width: 84%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4rem;
    margin-top: 2rem;
    margin-left: 4%;
    margin-right: 8%;
    margin-bottom: 1.5rem;
}

.notResult h4{
    font-family: 'Cinzel', serif;
    max-width: 50%;
    font-size: 25px;
    color: #32425B;
}

.button{
    font-family: 'Cinzel', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin-left: 3%;
    background-color: #32425B;
    color: #94ABBD;
    cursor: pointer;
    font-size: 22px;
    padding: 0.5rem;
    border: 1px solid #32425B;
    border-radius: 5px;
    text-decoration: none;
}

.link{
    font-family: 'Cinzel', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
    margin-left: 40%;
    margin-right: 15%;
    font-size: 23px;
    color: #32425B;
} 

@media screen and (max-width: 768px) {
    .cardsContainer {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }
}