@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


.cardsContainer{
    max-width: 84%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4rem;
    margin-top: 2rem;
    margin-left: 4%;
    margin-right: 8%;
    margin-bottom: 1.5rem;
}

.notResult h4{
    font-family: 'Cinzel', serif;
    max-width: 50%;
    margin-left: 35%;
    margin-right: 25%;
    margin-top: 3rem;
    font-size: 25px;
    color: #32425B;
}

/* .cardsContainer h1{
    font-family: 'Cinzel', serif;
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
} */

@media screen and (max-width: 768px) {
    .cardsContainer {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }
}