@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.button{
    font-family: 'Cinzel', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
    background-color: #32425B;
    color: #94ABBD;
    cursor: pointer;
    font-size: 22px;
    padding: 0.5rem;
    border: 1px solid #32425B;
    border-radius: 5px;
    text-decoration: none;
}

.link{
    font-family: 'Cinzel', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    font-size: 23px;
    color: #32425B;
}